
<div>
  <div class="row info">
    <div class="col-md-4">
      <%= image_tag @club.image_url, class: "img-responsive" %>
    </div>
    <div class="col-md-8">
      <div>
        <h1><%= @club.name %></h1>
        <p> <%= @club.description %></p>
        <p> <%= @club.address %> </p>
        <p> <%= @club.rating %> </p>

      </div>
    </div>
  </div>

    <h2><%= @club.events.name %>'s events</h2>
    <div class="club-events">
    <% @club.events.each do |event| %>
      
      <div class="row profile-event">
        <div class="col-md-4">
          <%= image_tag event.image_url.square, class: "img-responsive" %>
          <div class="event-date"><%= event.time_start.to_date %></div>
          <div class="event-time"><%= event.time_start.strftime("%H:%M") %> - <%= event.time_end.strftime("%H:%M") %></div>

        </div>
        <div class="col-md-8">
          <h3><%= link_to event.name, event %></h3>
          <h4><%= link_to event.club.name, event.club %></h4>
          <p>Description: <%= event.description %></p>
          <p>line-up: <%= event.line_up %></p>
          
        </div>
      </div>
    
    <% end %>
  </div>

</div>




<%= render '/events/partials/admin_event_change.html.erb' %>
<%= link_to 'Back', clubs_path, class: 'btn btn-default' %>
