<% if @over_ten %>
 <%= link_to "Show Previous", "?m=al" %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <div class="conversations">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag recipient.image_url.thumb, class: 'img-responsive' %>
            </div>
            <div class="col-md-8">
              <%= link_to recipient.name,   conversation_messages_path(conversation)%>
            </div>
          </div>
        <% end %>
      <% end %>  
    </div>
  </div>
  <div class="col-md-8">
    <div class="row"> 
      <div class="message-box">
        <% @messages.each do |message| %>
          <% if message.body %>
            <% user = User.find(message.user_id) %>
            <% class_name = message.user_id == current_user.id ? "message-current-user" : "message-other-user" %>
              <div class="message-row">
                <div class="<%= class_name %>">
                  <div class="header">
                    <strong>
                      <%= user.name %>
                    </strong> 
                  </div>
                  <div><%= message.message_time %></div> 
                  <div><%= message.body %> </div> 
                </div>
              </div>
          <% end %>
        <% end %>
      </div>
         <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
          <div class="form-container">
            <%= f.text_area :body, class: "form-control" %>
          </div>
            <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
          <div>
            <%= f.submit "Add Reply", class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
</div>
