<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :dob %>
    <%= f.date_field :dob %>
  </div>

  <%f.hidden_field :age, :value => @age %>


  <div class="field">
    <%= f.label :gender %>
    <%= select(:genders, :gender, ["Male", "Female"]) %>
  </div>

  <div class="field">
    <%= f.label :music_genre_likes %>
    <%= f.text_area :music_genre_likes %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div class="field">
    <%= f.label "Hieght (cm)"%>
    <%= f.text_field :height %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :interests %>
    <%= f.text_area :interests %>
  </div>

  <div class="field">
    <%= f.label "Seeking a " %>
    <%= select(:seeking_genders, :seeking_gender, ["Male", "Female"]) %>
    <%= f.label " aged " %>
    <%= f.text_field :seeking_age_range_low %>
    <span> to </span>
    <%= f.text_field :seeking_age_range_high %>
  </div>

  <div class="field">

  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= f.file_field :image_url, value: :image_url  %>

  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
