<h1><%= @user.name %></h1>


<div>
	<div class="row info">
		<div class="col-md-4">
			<%= image_tag @user.image_url, class: "img-responsive" %>
		</div>
		<div class="col-md-8">
			<div>
				<p>Age: <%= age_converter @user.dob  %></p>
				<p>Gender: <%= @user.gender %></p>
				<p>Music Genre's: <%= @user.music_genre_likes %></p>
				<p>Bio: <%= @user.bio %></p>
				<p>Hieght (cm): <%= @user.height %></p>
				<p>City: <%= @user.city %></p>
				<p>Interests: <%= @user.interests %></p>
				<p>Seeking a <%= @user.seeking_gender %> aged <%=@user.seeking_age_range_low %> to <%= @user.seeking_age_range_high %></p>
			</div>
		</div>
	</div>


	<h2><%= @user.name %>'s events</h2>
	<div class="user-events">
		<% @user.events.each do |event| %>
			
			<div class="row profile-event">
				<div class="col-md-4">
					<%= image_tag event.image_url.square, class: "img-responsive" %>
					<div class="event-date"><%= event.time_start.to_date %></div>
					<div class="event-time"><%= event.time_start.strftime("%H:%M") %> - <%= event.time_end.strftime("%H:%M") %></div>

				</div>
				<div class="col-md-8">
					<h3><%= link_to event.name, event %></h3>
					<h4><%= link_to event.club.name, event.club %></h4>
					<p>Description: <%= event.description %></p>
					<p>line-up: <%= event.line_up %></p>
					
				</div>
			</div>
		
		<% end %>
	</div>

</div>






