<h1><%= @user.name %></h1>

<p><%= @user.dob %></p>
<p><%= @user.gender %></p>
<p><%= @user.music_genre_likes %></p>
<p><%= @user.bio %></p>
<p><%= @user.height %></p>
<p><%= @user.city %></p>
<p><%= @user.interests %></p>
<p>seeking a <%= seeking_gender %> aged <%=seeking_age_range_low %> to <%= seeking_age_range_high %></p>



