


<div class="container">
	<div class="row">
		<img src="<%= @event.image_url.square %>">
		<h3><%= @event.name %></h3>
		<h4><%= link_to @event.club.name, @event.club %></h4>
		<p>Description: <%= @event.description %></p>
		<p>line-up: <%= @event.line_up %></p>
		<div><%= @event.time_start %> - <%= @event.time_end %></div>

		<% @event.users.each do |user| %>

			<p>Attending: <%= user.name %></p>

		<% end %>

		<%= render '/events/partials/admin_event_change.html.erb' %>

		<% if user_signed_in? %>

			<%= link_to(@attending_text, user_attending_path, method: :put) %>

		<% else %>

			<%= link_to('Register to Attend!', new_user_registration_path)  %>

		<% end %>
	</div>
</div>




