<!DOCTYPE html>
<html>
  <head>
    <title>Afterglow</title>
    <%= csrf_meta_tags %>

    
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'%>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <header>

    <div id="logo">
      <img class="shadowfilter" src="assets/logo_3_black.jpg" />
    </div>

  </header>
  <nav>
    <ul class="hmenu">

      <%= render '/layouts/partials/my_profile' %>
      <li><%= link_to 'Clubs', clubs_path %></li>
      <%= render '/layouts/partials/admin_add_nav' %>
      <li><%= link_to 'Events', events_path %></li>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>

    </ul>
  </nav>



	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
