<!DOCTYPE html>
<html>
  <head>
    <title>Afterglow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>

    <div id="logo">
      <img class="shadowfilter" src="/assests/logo_3_black.jpg" />
    </div>

  </header>
  <nav>
    <ul class="hmenu">

      <li><%= link_to 'My Profile', user_profile_path(current_user.id) %></li>
      <li><%= link_to 'Clubs', clubs_path %></li>
      <li><%= link_to 'Add a Club', new_club_path %></li>
      <li><%= link_to 'Events', events_path %></li>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>

    </ul>
  </nav>



	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
