<!DOCTYPE html>
<html>
  <head>
    <title>Afterglow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'%>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    
      <div class="row">
        <div class="col-md-12 top">
          <header>
            <div id="logo-index">
              <!-- <img class="shadowfilter-index" src="assets/logo_3_black.jpg" /> -->
              <%= image_tag "logo_3_black.jpg", class: 'shadowfilter-index img-responsive' %>
            </div>
          </header>

        <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <%= link_to 'Events', events_path, class: "navbar-brand"%>
            </div>
            <div class="navbar-header">
              <%= render 'devise/menu/registration_items'%>
            </div>
            <div class="navbar-header">
              <%= render 'devise/menu/login_items' %>
            </div>

            <div class="navbar-header">
              <%= link_to 'Clubs', clubs_path, class: "navbar-brand"%>
            </div>
          
              <%= render '/layouts/partials/my_profile'%>  
              <%= render '/layouts/partials/admin_add_nav' %>

            </div>
          
          </nav>

        
      </div>
        
      
    <div class="container"> 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>


  

    </div>
  </body>
</html>
